
body{
    background-color: #CCD5AE;
}

.inicio{
    background-color: black;
    color:darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    width: 100%;
    float: left;
    
    
}
.container{
    margin: auto;
    width: 980px;
    height: 680px;
    padding: 5px;
    background: whitesmoke;

}
.logo{
    margin-top: 1%;
    margin-left: 3%;
    float: inherit;
}
.titulo{
    float: inherit;
    margin-left: 25%;

}
.text-input{
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;

}
.text-centro{
    float: left;
    width: 70%;
    height: 60%;
    border-radius: 26px;
    background-color: beige;

}
.botones{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 20px;
    text-align: center;

}
.container2{
    float: right;
    width: 30%;
    height: 60%;
    border-radius: 26px;
    background-color: beige;
}
#img2{
    margin-top: 20%;
    width: 80%;
    height: auto;
    margin-left: 2%;


}
#textDerecha{
    margin-left: 7%;
    margin-right: 6%;
}

#textDer{
    float: left;
    margin-left: 5%;
    color: black;
    width: 80%;
    height: 40%;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    border: none;

}
#encriptar{
    padding: 24px;
    width: 30%;
    height: 55%;
    border-radius: 10px;
    margin-left: 15px;
    border: none;
    background: rgb(117,213,98);
background: linear-gradient(90deg, rgba(117,213,98,1) 0%, rgba(156,226,158,0.7676820728291316) 44%, rgba(121,222,121,0.6388305322128851) 84%);
}
#desencriptar{
    padding: 24px;
    width: 30%;
    height: 55%;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
    background: rgb(98,144,213);
background: linear-gradient(90deg, rgba(98,144,213,1) 0%, rgba(156,198,226,0.7676820728291316) 44%, rgba(150,121,222,0.6388305322128851) 84%);
}
#copiar{
    margin-left: 34%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 15%;
    border: none;
    border-radius: 20px;
    display: none;
    background: rgb(213,208,98);
background: linear-gradient(90deg, rgba(213,208,98,1) 0%, rgba(194,226,156,0.7676820728291316) 44%, rgba(218,222,121,0.6388305322128851) 85%);
    
}
.footer{
    padding:5px ;
  background-color:#9e9e9e;
  text-align: center; 
}
#foter{
    font-size: 20px;
    color: rgb(24, 24, 24);
}